/* Some CSS Setup - nothing to do with flexbox */
html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    background-color: ivory;
    font-family: sans-serif;
    margin: 0;
}

table td {
    background: rgba(243,233,252,0.6);
    border: 10px solid blueviolet;
    border-radius: 4px;
    min-height: 100px;
    min-width: 100px;
}

.wrapper {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
    padding: 20px;
    width: 100vw;
}

.game-container {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.col {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* modeled after Coding Addict's Basic Javascript Project video example */
#startBtn {
    align-self: flex-end;
    background: rgba(138,43,226,0.6);
    border: 3px solid blueviolet;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    font-size: 1.6rem;
    margin: auto;
    padding: 0.25rem 0.5rem;
}

#startBtn:hover {
    background: rgba(138,43,226);
}

td:hover {
    background: rgba(243,233,252);
}